.chart-pie-label {
    -fx-fill: white;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: white;
}

.table-view .column-header-background .label{
    -fx-text-fill: black;
}

.table-view .column-header {
    -fx-border-color: grey;
    -fx-background-color: darkgray;
}

#options-buttons {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
